/* Import Tailwind v4 core styles */
@import "tailwindcss";

/* ------------------------- */
/* Global resets  */
@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--un-default-border-color, #e5e7eb);
    --un-translate-x: 0;
    --un-translate-y: 0;
  }

  html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
    width: 100%;
    height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none; /* disable default underline */
  }
}

/* ------------------------- */
:root {
  --scrollbar-track: rgba(35, 35, 35, 1);
  --scrollbar-thumb: rgba(44, 44, 44, 1);
}

body.pretty-scrollbar {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

body.pretty-scrollbar::-webkit-scrollbar {
  width: 6px; height: 6px;
}

body.pretty-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 1rem;
}

body.pretty-scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: 1rem;
}

/* ------------------------- */
/* Custom utility classes */


body {
  background-color: #10191c; /* set background to black */
  color: #a3a3a3;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

@layer utilities {
  .hover\:-translate-y-5px:hover {
     transform: translateY(-5px);
     border-color: rgb(253 150 68); /* your primary color */
     box-shadow: 0 0 0.25rem 0.125rem rgb(253 150 68);
     transition: border-color 0.5s ease, box-shadow 1s ease;
  }

  /* Very light background tags */
  .bg-op-3 {
    background-color: rgba(255, 255, 255, 0.03);
  }

  /* Custom font size */
  .text-16px {
    font-size: 16px;
  }
}


